cc.configuration/gsrc/integrations/alexaskills/wsc/pc/AlexaBillingInfo.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://example.com/alexaskills/AlexaBillingInfo" name="AlexaBillingInfo" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://example.com/alexaskills" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://example.com/alexaskills/AlexaBillingInfo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://example.com/alexaskills/AlexaBillingInfo" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:import namespace="http://example.com/alexaskills"/>
      <xs:element name="getBillingInformation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBillingInformationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="pogo:AlexaBillingResponseDTO" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://example.com/alexaskills" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="AlexaBillingResponseDTO">
        <xs:sequence>
          <xs:element name="AccountNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="Message" type="xs:string" minOccurs="0"/>
          <xs:element name="NextInvoicesDueAmount" type="xs:decimal" minOccurs="0"/>
          <xs:element name="NextInvoicesDueDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="Status" type="xs:boolean" minOccurs="0"/>
          <xs:element name="TotalOutstandingAmount" type="xs:decimal" minOccurs="0"/>
          <xs:element name="TotalPaid" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="AlexaBillingInfoPortType">
    <wsdl:operation name="getBillingInformation">
      <wsdl:input name="getBillingInformation" message="tns:getBillingInformation"/>
      <wsdl:output name="getBillingInformationResponse" message="tns:getBillingInformationResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlexaBillingInfoSoap12Binding" type="tns:AlexaBillingInfoPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getBillingInformation">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getBillingInformation">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBillingInformationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlexaBillingInfoSoap11Binding" type="tns:AlexaBillingInfoPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getBillingInformation">
      <soap11:operation style="document"/>
      <wsdl:input name="getBillingInformation">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBillingInformationResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlexaBillingInfo">
    <wsdl:port name="AlexaBillingInfoSoap12Port" binding="tns:AlexaBillingInfoSoap12Binding">
      <soap12:address location="http://localhost:8180/pc/ws/alexaskills/AlexaBillingInfo"/>
      <gwwsdl:address location="${pc}/ws/alexaskills/AlexaBillingInfo"/>
    </wsdl:port>
    <wsdl:port name="AlexaBillingInfoSoap11Port" binding="tns:AlexaBillingInfoSoap11Binding">
      <soap11:address location="http://localhost:8180/pc/ws/alexaskills/AlexaBillingInfo/soap11"/>
      <gwwsdl:address location="${pc}/ws/alexaskills/AlexaBillingInfo/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getBillingInformation">
    <wsdl:part name="parameters" element="tns:getBillingInformation"/>
  </wsdl:message>
  <wsdl:message name="getBillingInformationResponse">
    <wsdl:part name="parameters" element="tns:getBillingInformationResponse"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
  </wsdl:message>
  <wsdl:message name="gw-traceability-id">
    <wsdl:part name="gw-traceability-id" element="gwsoap:traceability_id"/>
  </wsdl:message>
</wsdl:definitions>